<!-- .row>(.col-8>(h1>{page d'accueil})+p>lorem)+.col-4>h2>{sidebar} -->
<div class="row mt-3">
    <div class="col-8">
        <h1>page d'accueil</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet dolorem officiis aperiam et perspiciatis velit facere cumque asperiores quas, inventore harum eligendi dolore. Quas itaque optio ipsa placeat repellendus!</p>
    </div>
    <div class="col-4">
        <h2>sidebar</h2>
    </div>
</div>
<!--
    Manuellement 
    créer un dossier service 
    puis je crée un fichier portfolio.service.ts
    Via le shell : 
    ng generate service service/portfolio
    ng g s service/portfolio
-->